body{
    font-family:'Poppins', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    
}


header{
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    border-bottom: 2px solid rgb(2, 2, 2);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
    color: rgb(253, 253, 253);

    
}

nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;

    a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: bold;
    padding: 6px 6px;
    transition: color 0.3s ease;
    border-radius: 10px;
    
}
    a:hover{
        background-color: white;
        color: black;
}
}

main{
    margin: 20px;
    margin-right: 50%;
    
    
}

.projet{
    margin: 30px;
    margin-left: 60%;
    width: 80%;
    
    p{
        font-size: 18px;
    }
    
}

img{
    border: 3px solid black;
    
}

img:hover{
    border: 0px solid black;
    transition: border 0.3s ease;
    border-radius: 8px;
}

footer{
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 1%;
    
    
    

}

.footer{
    display: flex;
    justify-content: center;
    gap: 150px;
    
}

